{{page-title "Location"}}

{{#if this.loading}}

{{else}}
  <div class="daily-forecasts-container">
    {{#each @model.dailyForecasts as |dailyForecast|}}
      <ForecastCard @data={{dailyForecast}}/>
    {{/each}}
  </div>
{{/if}}

{{outlet}}