{{page-title "About"}}
<h2 class="page-header">About</h2>

<p>
  Here in "MichiWeather" we pledge to give to the most accurate weather forecast out there.
  It all started with our great-grandma who was a forecaster, and all she ever wanted was for her great-grand children
  to learn Ember by creating a simple weather forecast ap- I mean, be legit forecasters like her who can tell
  if it's going to rain a week from now just by looking at the sky. Yep, that's what this is.
  Enjoy the site!
</p>

{{outlet}}