{{page-title "Not Found"}}
<div class="container-body">
  <h2 class="landing-page-header">Oops, looks like the page you're looking for is not found...</h2>
  <img src="/assets/images/page-not-found-panda.png" alt="" role="none">
</div>